html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
#section{
  width: 100%;
  height: 50vh;
  display: flex;
  /* background-color: aqua; */
  }
  h1{  
    color: rgb(118, 118, 241);
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
  }
  

  .background-img{
    margin: 50px 0;
    background-image: url("../public/photo-1580193769210-b8d1c049a7d9.avif");
    height:90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
   
    
  }
  #icon{
    width: 15%;
    display: flex;
    /* flex-direction: row; */
    
    justify-content: space-around;
    margin-left: 40%;
    /* margin-top: 50px; */
  }
  #search{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-bar{
    width: 50%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
  }
  .search-bar input{
    background: transparent;
    /* flex: 1; */
    border: 0;
    padding: 5px 5px;
    font-size: 25px;
    color: #cac7ff;
  }
  ::placeholder{
    color:#cac7ff;
  }
  .search-bar button {
    width: 40px;
    display: flex;
    justify-content: right;
    margin-left:35% ;
  }

  #sec2{
    width: 70%;
    height: 47vh;
     margin-top: 15px; 
    
    margin-left:230px;
     background-color: rgba(21, 125, 236, 0.2);
    backdrop-filter: blur(10px);

  }
  #row{
     width: 100%; 
     height: 25vh;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    /* justify-content: space-between; */
    /* background-color: black; */
  }
  #content{
  /* width:50px;  */
   /* height: 25vh; */
/* padding-left: 30px; */
   /* background-color: aqua; */
   display: flex;
   flex-direction: row;
   padding-left: 15%;
   color: #cac7ff;

  }
  
  #content h1{
    font-size: 50px;
    color: black;
  }
  .week{
    /* margin-top: 80%;
    padding:20px; */
    display: flex;
    justify-content: space-around;
  }
 .week h5{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  color: blue;
 }
  .city{
    /* padding-right: 20%; */
    margin-left: 30px;
    margin-top: 50px;
    color: #cac7ff;
  }
